#!/bin/bash

set -o noglob

# try to source necessary functions
#
if test -r /usr/lib/mafalb-shellscripts/lib.sh
then
	. /usr/lib/mafalb-shellscripts/lib.sh
else
. /usr/local/lib/mafalb-shellscripts/lib.sh
fi

{% if restic_exit_if is defined -%}
{% for exit_condition in restic_exit_if -%}
exit_if "{{ exit_condition.command }}" {{ exit_condition.expected }} "{{ exit_condition.message }}"
{% endfor -%}
{% endif -%}

{% if restic_nice is defined -%}{{ restic_nice }} {% endif -%}/usr/local/bin/restic.{{ repo|mandatory }} backup $@ {% if args is defined %}{{ args }} {% endif %}{% if restic_tags is defined %}--tag {{ restic_tags|join(',') }} {% endif %}--exclude-file /etc/restic/exclude.global.cfg{% if exclude is defined %}{% for path in exclude %}{% if path != '/' %}\
 --exclude {{ path }}{% endif %}{% endfor %}{% endif %}\
{% for path in paths|mandatory %} {{ path }}{% endfor %}
