#!/bin/bash

/usr/local/bin/restic.{{ repo|mandatory }} backup $@ {% if args is defined %}{{ args }} {% endif %}--exclude-file /etc/restic/exclude.global.cfg{% if exclude is defined %}{% for path in exclude %}{% if path != '/' %}\
 --exclude {{ path }}{% endif %}{% endfor %}{% endif %}\
{% for path in paths|mandatory %} {{ path }}{% endfor %}
