# {{ ansible_managed }}
[Unit]
Description=Timer for pruning old restic backups of repo {{ restic_repo }}

[Timer]
OnCalendar=daily
{% if restic_check.schedule.delay is defined %}
RandomizedDelaySec={{ restic_check.schedule.delay }}
{% endif %}
Persistent=true

[Install]
WantedBy=timers.target
