# {{ ansible_managed }}
[Unit]
Description=Check restic repo {{ repo }}
ConditionACPower=true
After=restic.{{ repo }}-forget.service restic.{{ repo }}-prune.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restic.{{ repo }} check {{ restic_check.flags|default('') }}
