# {{ ansible_managed }}
[Unit]
Description=Prune restic repo {{ restic_repo }}
ConditionACPower=true

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restic.{{ restic_repo }} prune {{ restic_prune.flags|default('') }}
{% if restic_prune.check|default(false) %}
ExecStartPost=/usr/local/bin/restic.{{ restic_repo }} check
{% endif %}
